#ficha {
    text-align: center;
    margin: 100px auto;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
#ficha img{
    width: 25%;
}
#ficha h1{
    color:red;
    font-size: 32px;
}
#ficha p{
    color: rgb(37, 37, 24);
    font-size: 27px;
}